$primary-color:#52C6A2;
.spinner {
  position: fixed;
  left: 50%;
  top: 50%;

  div {
    border: 0.2rem solid $primary-color;
    width: 2rem;
    height: 2rem;
    border-top-color: white;
    border-left-color: white;
    border-radius: 50%;
    animation: spinner-animation 1s linear 0s infinite;
  }
}
@keyframes spinner-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
